.btn-datepicker {
  overflow: inherit;
  padding: 0 !important;

  &:hover {
    transform: none !important;
  }

  .vue-daterange-picker {
    width: 100%;
    padding: 4px 14px;
  }

  .form-control.reportrange-text {
    background: transparent;
    border: none;
    color: #fff;
    padding: 0;
    font-size: 0.875rem;
    height: auto;
  }

  .daterangepicker {
    background: #28293d;
    border: 1px solid #e14eca;
    top: 30px !important;

    &:before {
      display: none !important;
    }
    &:after {
      border-bottom-color: #e14eca;
    }
    .ranges li {
      color: #de4dc8;

      &.active {
        background-image: linear-gradient(
          to bottom left,
          #00f2c3,
          #0098f0,
          #00f2c3
        );
        background-size: 210% 210%;
        background-position: top right;
        background-color: #00f2c3;
      }
    }

    table {
      th {
        color: #fff;
        background: #28293d;
      }

      td {
        background: #28293d;
        border: 0px;
      }
    }

    .calendar-table {
      background: #28293d;
      border: none;

      .next,
      .prev {
        span {
          border-color: #e14eca;
        }
      }
    }

    .drp-calendar.left,
    .drp-buttons {
      border-color: #e14eca !important;
    }

    td.active,
    td.active:hover {
      background-image: linear-gradient(
        to bottom left,
        #00f2c3,
        #0098f0,
        #00f2c3
      );
      background-size: 210% 210%;
      background-position: top right;
      background-color: #00f2c3;
    }

    td.in-range {
      background: #00f2c3 !important;
      color: #fff;
    }
  }

  @media screen and (max-width: 768px) {
    .daterangepicker.show-ranges .ranges[data-v-8cc9549e] {
      border-bottom: 1px solid #e14eca;
    }
  }
}
